doctype html
html
    head
        title Duel Links Anytime Tournament
        link(rel="stylesheet", href="style.css")
    body
        .container
            h1 Payment Successful!
            .square
                a(href="/") Go Home
                img(class="mascot" src="https://vignette.wikia.nocookie.net/yugioh/images/0/09/TourGuideFromtheUnderworld-DULI.png", alt="")